.container {
	width: 1200px;
}

body {
	background: #412c84;
}

#header {
	padding-top: 20px;
}

#header img {
	padding: 1px;
	background: #200772;
}

#content {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #FFD073;
}

#content h1 {
	color: #200772;
}

/* Links */

#content a {
	color: #200772;
	text-decoration: none;
}

#content a:hover{
	color: #6A48D7;
	text-decoration: underline;
}

#content a:visited {
	color: #006363;
}

#header a {
	color: #FFAA00;
	text-decoration: none;
}

#header a:hover{
	color: #BF8F30;
	text-decoration: underline;
}

#header a:visited {
	color: #A66F00;
}

#footer .navigation {
	float: none;
}

#footer {
	text-align: center;
	margin-top: 10px;
	width: 710px;
	margin-left: auto;
	margin-right: auto;
	/*font-size: 120%; */
}

/* Navigation */

.navigation {
	float: right;
}

.navigation{
	background-color: #FFD073; 
	padding: 0 0.7em;
	white-space: nowrap;
}

ul.navigation {
	margin: 0;
}

.navigation li {
	list-style-type: none;
	display: inline-block;
	/*padding: 0.5em 0;*/
	margin: 5px;
}

/* Round corners */
.round {
	-moz-border-radius: 	  10px;
	-webkit-border-radius: 	10px;
	border-radius:				  10px;
}

/* User show page */

table.profile {
	width: 100%;
	margin-bottom: 0;
}

td.main {
	width: 70%;
	padding: 1em;
}

td.sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #876ED7;
}

.profile img.gravatar {
	border: 1px solid #999;
	margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 5px;
}

/* Ticket pages */

#tickets th {
 color: #200772;
 border-bottom: 2px solid #6A48D7;
}

#tickets td {
  padding: 9px 8px 0px 8px;
  border-bottom: 1px solid #BF8F30
}

#tickets tbody tr:hover td {
  color: #006363
}


/*
http://colorschemedesigner.com/
RGB: FFAA00
Hue: 60
Angle: 30
Triad
http://colorschemedesigner.com/#0X31Tw0w0w0w0
*/
