    <h1>Ticketing App Home</h1>
    <p>
      This is the home page for the
      <a href="http://localhost:3000/">Helpdesk Ticketing App <%= @title %></a>
      sample application.
    </p>
    
    <ul>
	<li><%= link_to 'Users', users_path %> </li>
	<li><%= link_to 'Tickets', tickets_path %> </li>
	<li><%= link_to 'Status', ticket_statuses_path %> </li>
    </ul>

